@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #8f8e8e;
    position: relative;
    height: 100vh;
    background-image: url(imagens/background-g.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

body > main > a {
    transition-duration: .3s;
}

#container {
    position: absolute;
    background-color: #ffffff75;
    backdrop-filter: blur(15px);
    box-shadow: 10px 10px 35px #302c3891;
    border-radius: 15px;
    min-width: 300px;
    max-width: 300px;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    color: #9388ad;
    
}

#img-container {
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(imagens/foto-perfil.png);
    background-size: cover;
}

#container > h1 {
    text-align: center;
    margin: 20px 0px;
    font-weight: normal;
}

.activities {
    text-align: center;
    font-size: 18px;
}

.email {
    text-align: center;
    margin: 10px 0px;
}

.title{
    display: block;
    background-color: #bcb2d5;
    color: #76669b;
    padding: 15px;
    width: 90%;
    margin: 5px auto;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.title:hover {
    background-color: #9488ae;
    color: #d8cee7;
    padding: 20px 15px;
}

.title:target {
    background-color: #9488ae;
    color: #d8cee7;
}